.green-color {
    color: #00A30B;
}
.red-color {
    color: #FF0000;
}
.yellow-color {
    color: #FF9300;
}
.green-bg-color {
    background-color: #00A30B;
}
.red-bg-color {
    background-color: #FF0000;
}
.yellow-bg-color {
    background-color: #FF9300;
}

.header-title {
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    margin: 9px 0 9px;
}

.row-margin {
    margin: 7px 0 0 0;
}

.search_box {
    border: 0 solid #DCDCDC;
    outline-style: auto;
    width: 82%;
}

.filter-icon {
    position: absolute;
    right: 167px;
    top: 99px;
    z-index: 1;
}

.dropdown-search {
    position: relative;
    width: 132px;
    margin-left: 8px;
    border: 2px solid grey;

    #dropdown-field-label-dropdown-search {
        margin-left: 26px;
    }
}

.vert-line {
    width: 2px;
    height: 39px;
    background-color: gray;
    position: absolute;
    right: 163px;
    top: 95px;
    z-index: 1;
}

.alert_style {
    position: absolute;
    border: 1px solid red;
    width: 84px;
    color: red;
    top: -10px;
    left: -10px;
    display: flex;
    height: 22px;
    font-weight: 600;
    background-color: #fff;
}

.alert_icon {
    margin: 2px 0 0 4px;
    fill: red;
}

.alert_label {
    font-size: 9px;
    margin: 6px 0 0 6px;
}

.patients_card_view_container {
    margin-top: 15px;

    .doctor-card-view{
        display: inline-block;
        width: calc(32% - 3px);
        background-color: white;
        margin: 0 12px 24px 0;
        color: gray;
        border: 2px solid #DCDCDC;
        outline-style: auto;
        position: relative;

        .name_title{
            font-weight: bold;
            font-size: 17px;
        }
        .patient_box{
            display: inline-block;
            width: 48%;
            box-sizing: border-box;
            vertical-align: text-top;
            min-height: 50px;
        }
        .label_title {
            font-size: 11px;
        }
        .label_value{
            word-wrap: break-word;
            font-weight: 600;
            font-size: 13px;
            line-height: 15px;
            color: #333333;
        }
        .location-style {
            font-size: 12px;
            color: #333333;
        }
        .text-right {
            float: right;
        }
        .title_strip {
            background-color: #DCDCDC;
            min-width: 90px;
            height: 21px;
            color: gray;
            text-align: center;
            line-height: 21px;
            float: right;
            font-size: 10px;
        }
        .patient-id {
            font-size: 13px;
            line-height: 30px;
            font-weight: 600;
        }
        .name_risk_style {
            display: inline-block;
            box-sizing: border-box;
            width: 100%;
        }
        .time-updated {
            font-size: 12px;
            margin-bottom: -10px;
        }
    }

    .operator-card-view{
        display: inline-block;
        margin: 0 6px 6px 0;
        color: #fff;
        border-radius: 2px;
        position: relative;
        text-align: center;
        width: 11%;

        .id-style {
            line-height: 30px;
            font-size: 14px;
        }
        .sos-alert {
            position: absolute;
            border: 2px solid #FF0000;
            width: 22px;
            height: 22px;
            top: -4px;
            left: -4px;
            background-color: #fff;
        }
        .sos-icon {
            fill: #FF0000;
            margin-top: 1px;
        }
    }
}
