.bx--tabs__nav-item--selected {
    #tab-1, #tab-2, #tab-3 {
        border-bottom: 2px solid #007D79;
    }
}

.content-block {
    background-color: #F4F4F4;

    .tile-block {
        background-color: #fff;
        min-height: 500px;

        .tabs-header {
            margin-left: 14px;
            border-bottom: .1px solid;
            line-height: 38px;
            width: 94%;
        }
        .tabs-style {
            margin: 13px 0 0 14px;
        }
    }
}
