.header-style {
    background-color: #007D79;
    .menu-icon {
        fill: #fff;
        margin-left: 10px;
    }
    .header-text {
        font-size: 13px;
        margin-left: -8px;
    }
}

.sidenav-style {
    background: #fff;

    .text-icon-style {
        color: #fff;
        font-size: 20px;
    }

    .list-style {
        height: 40px;
        border-bottom: 0.1px solid black;
        cursor: pointer;

        svg {
            fill: #000;
        }
        .text-color {
            color: #000;
            font-size: 14px;
        }
    }

    .list-style_selected {
        svg {
            fill: #007D79;
        }
        .text-color {
            color: #007D79;
        }
    }
}