.header-style {
    background-color: #007D79;
    .menu-icon {
        fill: #fff;
        margin-left: 10px;
    }
    .header-text {
        font-size: 13px;
        margin-left: -8px;
    }
    .header-text:focus {
        border: none;
    }
    .header-right-user:hover {
        background-color: #007D79;
    }
    .header-right-user {
        width: 15%;
        color: #fff;
        display: flex;
        border: none;        

        .header-right-text {
            margin: 0 5px 0 5px;
        }
    }
    .header-panel {
        background-color: #007D79;
        height: 15%;
        width: 12%;
    }
}

.sidenav-style {
    background: #fff;

    .text-icon-style {
        color: #fff;
        font-size: 20px;
    }

    .list-style {
        height: 40px;
        border-bottom: 0.1px solid black;
        cursor: pointer;

        svg {
            fill: #000;
        }
        .text-color {
            color: #000;
            font-size: 14px;
        }
    }

    .list-style_selected {
        svg {
            fill: #007D79;
        }
        .text-color {
            color: #007D79;
        }
    }
}