.login-container {
    background-color: #F4F4F4;
    min-height: 610px;

    .forgot_pwd {
        text-align: center;
        margin-top: 70px;
        color: #007D79;
        font-size: 13px;
    }

    .form-container {
        height: auto;
        width: 35%;
        top: 70px;
        left: 32.5%;
        background-color: #fff;

        .btn-div {
            text-align: center;
        }

        .header-div {
            text-align: center;
            margin-top: 10px;

            .header {
                color: #161616;
                margin-top: 12px;
                font-weight: 600;
            }
            .sub-header {
                color: #393939;
                line-height: 36px;
            }
        }
        .divide-line {
            background: #D3D3D3;
            width: 90%;
        }
    } 

    .form-style {
        label {
            color: #393939;
            font-size: 13px;
            margin-top: 4px;
        }
    
        .text-field-style {
            background-color: #fff;
            border: 1px solid #E2E2E2;
        }
    
        .signin-btn {
            width: 100%;
            margin-top: 10px;
            background-color: #007D79;
            padding: 0;
    
            span {
                margin: auto;
                text-align: center;
            }
        }
    }
}

